html {
    box-sizing: border-box;
    background: black;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
  }
  
  body {
    margin: 0;
    background-color: #eeeeee;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  